title: Rockholt
description: Rockholt services, products, and contact information.
url: "https://rockholt.com"

timezone: America/Los_Angeles
markdown: kramdown

# Safe defaults for GitHub Pages
theme: minima

plugins:
  - jekyll-sitemap
  - jekyll-feed

exclude:
  - README.md
  - LICENSE
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor
  - .github
  - .git
  - .gitignore
  - .DS_Store

defaults:
  - scope:
      path: ""
    values:
      layout: default
